<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 - 입점신청 관리</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id'); // 'id' 파라미터의 값을 가져옴
        var report;

        // Ajax를 통해 서버로 GET 요청
        $.ajax({
            url: "/businessregister/detail/" + id,
            type: "GET",
            dataType: "json",
            success(data){
                register = data.register;
                document.getElementById('applyId').innerText = register.id;
                document.getElementById('restaurantTitle').innerText = register.restaurantName;
                document.getElementById('category').innerText = register.restaurantCategory;
                document.getElementById('address').innerText = register.restaurantAddress.name;
                document.getElementById('phone').innerText = register.restaurantNumber;
                document.getElementById('applier').innerText = register.member.name;
                document.getElementById('createdAt').innerText = new Date(register.createdAt).toLocaleDateString();
                document.getElementById('status').innerText = register.registrationStatus;
            }
        });
    </script>
</head>
<body>
<h1>관리자 - 입점신청 상세보기(처리하기)</h1>
<form>
    <h2>신청 번호 :</h2> <h3><span id="applyId"></span></h3><br>
    <h2>식당 이름 :</h2> <h3><span id="restaurantTitle"></span></h3><br>
    <h2>카테고리 :</h2> <h3><span id="category"></span></h3><br>
    <h2>식당 주소 :</h2> <h3><span id="address"></span></h3><br>
    <h2>전화번호 :</h2> <h3><span id="phone"></span></h3><br>
    <h2>신청자 :</h2> <h3><span id="applier"></span></h3><br>
    <h2>신청 날짜 :</h2> <h3><span id="createdAt"></span></h3><br>
    <h2>진행 현황 :</h2> <h3><span id="status"></span></h3><br>
    <button type="button" id="approve">승인</button>
    <button type="button" id="reject">반려</button>
</form>
<script>
    function updateReport(btnId) {
        if (confirm("입점처리를 진행하시겠습니까?")) {
            const id = register.id; // 적절한 id 값을 설정합니다.
            $.ajax({
                url: `/businessregister/process/` + id,
                type: "PUT",
                data: {btnId: btnId},
                success() {
                    alert('입점처리 되었습니다.');
                    window.location.reload();
                },
                error() {
                    alert('입점처리에 실패했습니다.');
                }
            });
            console.log("입점처리 완료");
        } else {}
    }

    $('button').on('click', function() {
        // 클릭된 버튼의 id 값을 가져옴
        const btnId = $(this).attr('id');
        console.log(btnId);
        if (btnId === 'approve' || btnId === 'reject') {
            updateReport(btnId);
        }
    });
</script>
</body>
</html>