spring:
  application:
    name: rvcom
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${{ secrets.DB_URL }}
    username: ${{ secrets.DB_USERNAME }}
    password: ${{ secrets.DB_PASSWORD }}

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${{secrets.NAVER_CLIENT_ID}}
            client-secret: ${{secrets.NAVER_CLIENT_SECRET}}
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope: name, email, profile_image
            client-name: Naver

          google:
            client-id: ${{secrets.GOOGLE_CLIENT_ID}}
            client-secret: ${{secrets.GOOGLE_CLIENT_SECRET}}
            scope: profile, email

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
kakao:
  apikey: ${{ secrets.KAKAOMAP_API }}