<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header th:fragment="adminHeader">
    <div class="header-wrapper">
        <div class="header-content">
            <div class="logo"><a href="/" style="text-decoration: none; color: inherit;">관리자 페이지</a></div>
            <nav>
                <a href="/adminReport">신고 관리</a>
                <a href="/adminRegister">입점신청 관리</a>
                <a href="/adminMember">회원 관리</a>
                <a href="">??</a>
            </nav>
        </div>
    </div>
</header>
</body>
</html>
