<!-- src/main/resources/templates/fragments/categoryModal.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="categoryModal">
        <div id="categoryModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <h2>모든 카테고리</h2>
                <div class="category-grid">
                <!-- TODO: 여기에 동적으로 카테고리를 추가하는 로직 구현 -->

                    <div class="category-item">한식</div>
                    <div class="category-item">일식</div>
                    <div class="category-item">중식</div>
                    <div class="category-item">양식</div>
                    <div class="category-item">분식</div>
                    <div class="category-item">카페/디저트</div>
                    <div class="category-item">패스트푸드</div>
                    <div class="category-item">치킨</div>
                    <div class="category-item">피자</div>
                    <div class="category-item">족발/보쌈</div>
                    <div class="category-item">아시안</div>
                    <div class="category-item">해산물</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
