<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header th:fragment="header">
    <div class="header-wrapper">
        <div class="header-content">
            <div class="logo"><a href="/" style="text-decoration: none; color: inherit;">FoodFolio</a></div>
            <div class="search-bar">
                <input id="search-text" type="text" placeholder="맛집 또는 음식을 검색해보세요">
                <button id="search-btn" onclick="searchRestaurant()"><i class="fas fa-search"></i> 검색</button>
            </div>
            <nav>
                <a href="/login">로그인</a>
                <a href="/register">회원가입</a>
                <a href="/mypage">마이페이지</a>
                <a href="/register-store">입점 신청</a>
            </nav>
        </div>
    </div>
    <script>
        function searchRestaurant() {
            const searchText = document.getElementById('search-text').value;

            window.location.href = "/search-results?search=" + encodeURIComponent(searchText);
        }
    </script>
</header>
</body>
</html>
