<section th:fragment="contentSection(type)" th:id="${type}" class="content-section">
    <div th:if="${type == 'profile'}" class="profile-content">
        <h2>About <span th:text="${member.nickname}"></span></h2>
        <div class="profile-details">
            <p><i class="fas fa-envelope"></i> 이메일: <span th:text="${member.email}"></span></p>
            <p><i class="fas fa-user"></i> 이름: <span th:text="${member.name}"></span></p>
            <p><i class="fas fa-id-card"></i> 닉네임: <span th:text="${member.nickname}"></span></p>
            <p><i class="fas fa-calendar-alt"></i> <span th:text="${#temporals.format(member.createdAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>에 가입</p>
        </div>
        <div class="user-bio">
            <h3>자기소개</h3>
            <p th:text="${member.introduction != null && !member.introduction.isEmpty() ? member.introduction : '안녕하세요 저는 ' + member.nickname + ' 입니다!  만나서 반갑습니다.'}">
                <!-- 기본 자기소개 텍스트 -->
                안녕하세요. 만나서 반갑습니다.
            </p>
        </div>
        <button class="edit-profile-btn">회원정보 수정</button>
        <button class="unsubscribe-btn" onclick="confirmDeactivation()">회원 탈퇴 신청</button>
    </div>
    <script>
        function confirmDeactivation() {
            if (confirm("회원 탈퇴 하시겠습니까?")) {
                const protocol = window.location.protocol;
                const host = window.location.host;
                const deactivateUrl = `${protocol}//${host}/deactivateAccount`;

                fetch(deactivateUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            alert("회원 탈퇴가 완료되었습니다.");
                            const mainPageUrl = `${protocol}//${host}/mainPage`;
                            window.location.href = mainPageUrl;
                        } else {
                            alert("회원 탈퇴 중 오류가 발생했습니다.");
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("회원 탈퇴 중 오류가 발생했습니다.");
                    });
            }
        }

    </script>


</section>
