<!-- src/main/resources/templates/fragments/reviewItem.html -->
<div th:fragment="reviewItem(title, content, author, date, rating, images, menus, likes, comments, id)">
    <div class="review-item">
        <button class="report-button review-report" style="padding-top: 5px; float: right;">🚨</button>
        <h4 class="review-title" th:text="${title}">리뷰 제목</h4>
        <div class="review-header">
            <div class="review-text">
                <p th:text="${content}">리뷰 내용</p>
            </div>
            <div class="review-info">
                <span class="reviewer-name" th:text="${author}">작성자</span>
                <span class="review-date" th:text="${date}">작성일</span>
                <div class="rating" th:text="${rating}">평점</div>
            </div>
        </div>
        <div class="review-images" th:if="${images.size() > 0}">
            <div class="image-container" style="display: flex; gap: 10px; flex-wrap: wrap;">
                <div th:each="image, iterStat : ${images}" th:if="${iterStat.index < 4}">
                    <img th:src="@{|https://kr.object.ncloudstorage.com/whiskey-file/${image.imageFile.uuidFileName}|}"
                         alt="Review Image"
                         class="review-image">
                </div>

                <!-- 더보기 버튼 조건 -->
                <div th:if="${images.size() > 4}" class="more-images">
                    <span>+ 더보기</span>
                </div>
            </div>
        </div>


        <div class="menu-info">
            <div th:each="menu : ${menus.paidItems}">
                <span th:text="${'메뉴 이름: ' + menu.itemName + ' / '}">메뉴 이름</span>
                <span th:text="${'단가: ' + menu.price + '원 / '}">메뉴 가격</span>
                <span th:text="${'수량: ' + menu.quantity}">메뉴 이름</span>
            </div>
        </div>
        <div class="review-actions">
            <button th:id="${'review-like-button-' + id}" class="like-button" >
                <span th:text="'👍 좋아요 (' + ${likes.size()} + ')'"></span>
            </button>
            <button class="comment-button">
                <span th:id="'comment-button-' + ${id}" th:text="'💬 댓글 (' + ${comments.size()} + ')'"></span>
            </button>

        </div>
        <div class="comments-section" style="display: none;">
            <div class="comments-list" th:id="'commentsBox' + ${id}">
                     <!-- - 페이지네이션 구현
                     - 댓글 정렬 기능 추가 (최신순, 추천순 등) -->
                <!-- 예시 댓글 -->
                <div class="comment" th:each="comment : ${comments}">
                    <p th:text="${comment.content}"></p>
                    <button class="report-button comment-report" style="float: right;">🚨</button>
                    <span th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd')} + ' / ' + ${comment.commenter.nickname}"></span>
                </div>
            </div>
            <div class="comment-form">
                <textarea th:id="'comment' + ${id}" class="comment-input" placeholder="댓글을 입력하세요"></textarea>
                <button class="submit-comment"
                        th:onclick="'submitCommentAsync(' + ${id} + ')'">
                    댓글 작성
                </button>
            </div>
        </div>
    </div>
</div>


