/* 전역 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

:root {
    --main-color: #d32323;
    --secondary-color: #ff6b6b;
    --background-color: #f7f7f7;
    --text-color: #333;
}

/* 푸터 스타일 */
.test-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 푸터 내용 스타일 */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* 푸터 내비게이션 스타일 */
.footer-nav {
    margin-top: 10px;
}

/* 푸터 내비게이션 링크 스타일 */
.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

/* 푸터 내비게이션 링크 호버 효과 */
.footer-nav a:hover {
    text-decoration: underline;
}

/* 컨테이너 스타일 */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 0px;
}

/*  구분선 스타일 */
.tab-divider {
    border-bottom: 1px solid #e0e0e0;
    margin: 20px 0;
    width: 100%;
}

/* 탭 스타일 */
.tab-content {
    padding-bottom: 20px;
}

.review-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}