<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="dashboard">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">최근 리뷰</h5>
                        <p class="card-text">10건</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">새로운 리뷰</h5>
                        <p class="card-text">5개</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">미답변 문의</h5>
                        <p class="card-text">3건</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: 추가적인 대시보드 위젯 및 통계 정보 -->
    </div>
</body>
</html>
