<div th:fragment="inquiries" class="tab-content" id="inquiries" role="tabpanel" aria-labelledby="inquiries-tab">
    <h2><i class="fas fa-question-circle"></i> 문의하기</h2>
    <div class="inquiry-form">
        <textarea id="inquiryContent" placeholder="이 음식점에 대해 궁금한 점을 물어보세요." rows="4"></textarea>
        <button id="submitInquiry" class="submit-inquiry"><i class="fas fa-paper-plane"></i> 문의 등록</button>
    </div>
    <!-- 문의 목록 -->
    <div class="recent-inquiries"></div>
    <!-- 문의 페이징 -->
    <div class="inquiry-pagination" id="pagination-inquiry"></div>
</div>
