<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="statistics">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">일일 활성 사용자</h5>
                        <canvas id="dailyActiveUsersChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">월간 신규 가입자</h5>
                        <canvas id="monthlyNewUsersChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">리뷰 작성 추이</h5>
                        <canvas id="reviewTrendChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">인기 음식점 순위</h5>
                        <canvas id="popularRestaurantsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
